.cont{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.cont h2{
    color: #aa9166;
}

.box{
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: auto;
    border: 2px solid #aa9166;
    align-items: center;
    border-radius: 10px;
}
.box-l{
    height: 285px;
    width: 300px;
    overflow: hidden;
    position: relative;
}
.box-l img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}
.box-r{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.in-data{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    border-radius: 10px;
    border: .5px solid #aa9166;
}
.in-data h5{
    color: #aa9166;
    font-size: 20px;
}

.in-data p{
    font-size: 20px;
}